.occupied {
    color: red;
}

.vacant {
    color: green;
}

.symbol {
    height: 1.5em;
    vertical-align: bottom;
}

.park-info {

}

.num-spaces {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 0.1em;
    height: 1.5em;
    width: 1.9em;
    text-align: right;
    box-sizing: border-box;
    margin: 0 0.3em 0 0.3em;
}
