.header {
    width: 100%;
    padding: 1em;

    display: flex;
    align-items: flex-start;
}

.symbol {
    width: 1.5em;
    vertical-align: sub;
    display: inline-block;
    margin-right: 0.4em;
}

.name {
}

.parking {
    margin-left: auto;
}
