.entry {
    width: 100%;
}

.icon {
    width: 10%;
}

.icon img {
    width: 100%;
    vertical-align: sub;
}

.linenumber {
    text-align: right;
    width: 10%;
}

.destination {
    width: 60%;
    padding-left: 0.7em;
}

.time {
    text-align: right;
    width: 20%;
}
